<h1>Add a client to <%= @division.name() %> </h1>

<form action="/employees" method="post">
  <input id="division_id" name="division_id" type="hidden" value="<%=@division.id() %>">

  <label for="employee_name">Employee's Name:</label>
  <input id="employee_name" name="employee_name" type="employee_name">

  <button type="submit">Add Employee</button>
</form>

<% if @division.employees.any?() %>
<!-- #It references the database name 'employees' rather than 'employee' method -->
<h3>Employees in this division:</h3>

<ul>
  <% @division.employees.each() do |division| %>
  <li><%= division.name() %><a href="/employees/<%= division.id() %>/edit"> Update </a></li>
  <% end %>
</ul>
<% else %>
<p>This division has no employees!</p>
<% end %>

<a href="/">Return to Main Page</a>
