<h1>Company Database</h1>

<p>Divisions database:</p>

<form action="/divisions" method="post">
  <label for="name">Enter Divisions:</label>
  <input id="name" name="name" type="text">

  <button type="submit">Add Division</button>
</form>

<% if @divisions.any?() %>
<p>List all divisions in the company:</p>

<ul>
  <% @divisions.each do |division| %>
  <li><a href="/divisions/<%= division.id() %>"><%= division.name() %></a><a href="/divisions/<%= division.id() %>/edit">   [Update]  </a></li>

  <% end %>
</ul>
<% else %>
<p>No divisions have been entered!</p>
<% end %>
